fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pillow
numpy==1.26.4
ultralytics
openai
arabic-reshaper==3.0.0
python-bidi==0.4.2
pytesseract
langdetect==1.0.9
elevenlabs
word2number
opencv-python-headless
python-dotenv==1.0.1
pydantic>=2.5.0,<2.6.0
pydantic-settings>=2.1.0,<2.2.0
PyMuPDF